<style type="text/css">
label {
  text-align: right;
  width: 35px;
  display: block;
  float: left;
  clear: left;
  margin-right: 3px;
  margin-bottom: 2px;
  cursor: pointer
}
input {
  margin-bottom: 2px;
}
img {
  vertical-align: middle;
}
</style>

<p>Attenzione: La tool attualmente funziona da 16 a 100. Inserire un numero sotto il 16 o superiore a 100 non farà effettuare il calcolo.</p>
<div>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-2">
        <h3 class="first">Statistiche attuali</h3>
        <div class="ui-inputgroup">
            <label><img src="https://github.com/PrimalIT/calcolostats/blob/master/img/forza.png?raw=true" /></label>
            <input type="number" [(ngModel)]="this.actualFor" pInputText placeholder="Forza" min="16" max="100">    
        </div>
    </div>
    <div class="ui-g-12 ui-md-2">
        <div class="ui-inputgroup">           
            <label><img src="https://github.com/PrimalIT/calcolostats/blob/master/img/destrezza.png?raw=true" /></label>
            <input type="number" [(ngModel)]="this.actualDes" pInputText placeholder="Destrezza" min="16" max="100">         
        </div>
    </div>
    <div class="ui-g-12 ui-md-2">
        <div class="ui-inputgroup">
            <label><img src="https://github.com/PrimalIT/calcolostats/blob/master/img/costituzione.png?raw=true" /></label>
            <input type="number" [(ngModel)]="this.actualCos" pInputText placeholder="Costituzione" min="16" max="100">         
        </div>
    </div>
    <div class="ui-g-12 ui-md-2">
        <div class="ui-inputgroup">
            <label><img src="https://github.com/PrimalIT/calcolostats/blob/master/img/sensi.png?raw=true" /></label>
            <input type="number" [(ngModel)]="this.actualSen" pInputText placeholder="Sensi" min="16" max="100">         
        </div>
    </div>
    <div class="ui-g-12 ui-md-2">
        <div class="ui-inputgroup">
            <label><img src="https://github.com/PrimalIT/calcolostats/blob/master/img/spirito.png?raw=true" /></label>
            <input type="number" [(ngModel)]="this.actualSpi" pInputText placeholder="Spirito" min="16" max="100">         
        </div>
    </div>
</div>


<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-2">
        <h3 class="first">Statistiche da raggiungere</h3>
        <div class="ui-inputgroup">
            <label><img src="https://github.com/PrimalIT/calcolostats/blob/master/img/forza.png?raw=true" /></label>
            <input type="number" [(ngModel)]="this.futureFor" pInputText placeholder="Forza" min="16" max="100">    
        </div>
    </div>
    <div class="ui-g-12 ui-md-2">
        <div class="ui-inputgroup">           
            <label><img src="https://github.com/PrimalIT/calcolostats/blob/master/img/destrezza.png?raw=true" /></label>
            <input type="number" [(ngModel)]="this.futureDes" pInputText placeholder="Destrezza" min="16" max="100">         
        </div>
    </div>
    <div class="ui-g-12 ui-md-2">
        <div class="ui-inputgroup">
            <label><img src="https://github.com/PrimalIT/calcolostats/blob/master/img/costituzione.png?raw=true" /></label>
            <input type="number" [(ngModel)]="this.futureCos" pInputText placeholder="Costituzione" min="16" max="100">         
        </div>
    </div>
    <div class="ui-g-12 ui-md-2">
        <div class="ui-inputgroup">
            <label><img src="https://github.com/PrimalIT/calcolostats/blob/master/img/sensi.png?raw=true" /></label>
            <input type="number" [(ngModel)]="this.futureSen" pInputText placeholder="Sensi" min="16" max="100">         
        </div>
    </div>
    <div class="ui-g-12 ui-md-2">
        <div class="ui-inputgroup">
            <label><img src="https://github.com/PrimalIT/calcolostats/blob/master/img/spirito.png?raw=true" /></label>
            <input type="number" [(ngModel)]="this.futureSpi" pInputText placeholder="Spirito" min="16" max="100">         
        </div>
    </div>
</div>

<br>
<p-button label="Calcolo" (onClick)="calcoloExp()"></p-button>
<p>Exp per raggiungere l'obiettivo: {{exp ? exp : ''}}</p>
</div>