<h3 class="first">Statistiche attuali</h3>
<div>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-2">
        <div class="ui-inputgroup">
            <input type="number" value="21" [(ngModel)]="this.actualFor" pInputText placeholder="Forza" min="21" max="100" required>    
        </div>
    </div>
    <div class="ui-g-12 ui-md-2">
        <div class="ui-inputgroup">
            <input type="number" [(ngModel)]="this.actualDes" pInputText placeholder="Destrezza" min="21" max="100">         
        </div>
    </div>
    <div class="ui-g-12 ui-md-2">
        <div class="ui-inputgroup">
            <input type="number" [(ngModel)]="this.actualCos" pInputText placeholder="Costituzione" min="21" max="100">         
        </div>
    </div>
    <div class="ui-g-12 ui-md-2">
        <div class="ui-inputgroup">
            <input type="number" [(ngModel)]="this.actualSen" pInputText placeholder="Sensi" min="21" max="100">         
        </div>
    </div>
    <div class="ui-g-12 ui-md-2">
        <div class="ui-inputgroup">
            <img src="http://newworldgdr.org/grafica/vario/stats/spirito.png">
            <input type="number" [(ngModel)]="this.actualSpi" pInputText placeholder="Spirito" min="21" max="100">         
        </div>
    </div>
</div>

<p-button label="Click" (onClick)="calcoloExp()"></p-button>
<p>Exp per raggiungere l'obiettivo: {{exp ? exp : ''}}</p>
</div>